*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-section{
    background-color: aqua;
}
.flex{
    display: flex;
}

.container{
    width: 100%;
    max-width: 980px;
    margin: auto;
    padding: 10px 0;
}

.logo{
    flex-grow: 1;
    border: 1px dashed black;
    background-color: orange;
    padding: 5px;
}

.link{
    flex-grow: 2;
    border: 1px dashed black;
    background-color: orange;
    padding: 5px;
    text-align: center;
}

.login{
    flex-grow: 1;
    border: 1px dashed black;
    background-color: orange;
    padding: 5px;
    text-align: right;
}

section{
    background-color: blue;
}

.first-section{
    margin: 25px 45px;
    background-color: palevioletred;
    border: 1px dashed black;
    height: 250px;
}

.first-main-section{
    background-color: white;
    padding: 25px 0;
}

.first-column{
    height: 350px;
    background-color: cornflowerblue;
    border: 1px dashed black;
    flex-grow: 2;
}

.second-column{
    height: 350px;
    border: 1px dashed black;
    flex-grow: 1;
    background-color: pink;
}

.second-main-section{
    background-color:lightgray;
    padding: 25px 0;
}

.green-rectangle{
    height: 550px;
    background-color: green;
    border: 1px dashed black;
    flex-grow: 1;
}

.first-footer-section{
    background-color: #222121;
    padding: 25px 0;
}

.pink-column{
    height: 450px;
    background-color: pink;
    flex-grow: 2;
    border: 1px dashed black;
}

.first-blue-column{
    height: 450px;
    background-color: cadetblue;
    flex-grow: 1;
    border: 1px dashed black;
}

.second-blue-column{
    height: 450px;
    background-color: cadetblue;
    flex-grow: 1;
    border: 1px dashed black;
}

.third-blue-column{
    height: 450px;
    background-color: cadetblue;
    flex-grow: 1;
    border: 1px dashed black;
}

.fourth-blue-column{
    height: 450px;
    background-color: cadetblue;
    flex-grow: 1;
    border: 1px dashed black;
}

.second-footer-section{
    background-color: #222121;
    padding-top: 25px;
}

.last-section{
    background-color: aquamarine;
    justify-content: space-between;
    align-items: flex-end;
    align-items: center;
    height: 80px;
}

.footer-logo{
    background-color: orange;
    border: 1px dashed black;
    padding: 10px;
}
.footer-button{
    background-color: orange;
    border: 1px dashed black;
    padding: 10px;
}